@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
}

.location {
  padding-left: 5px;
  margin-left: 5px;
  color: #686b78;
}

._2MSid {
  fill: #fff;
  stroke-width: 3px;
  stroke: #686b78;
}

.cart {
  position: relative;
}

._3yZyp > svg {
  position: absolute;
  top: 3px;
}

.filter-btns > button {
  border: 1px solid rgba(2, 6, 12, 0.15);
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
}

._2vS77 {
  position: relative;
  left: 6px;
  font-size: 14px;
  color: #686b78;
  font-weight: 600;
}

.slick-prev {
  left: 93%;
  top: -10%;
}

.slick-next {
  right: 2%;
  top: -10%;
}

.banners-container > div > .slick-prev,
.offer-container > div > .slick-prev {
  left: 90.5%;
}

.banners-container > div > .slick-prev,
.banners-container > div > .slick-next {
  top: -5%;
}

.res-img-overlay {
  height: 60%;
  width: 100%;
  opacity: 70%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), black, black);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 12px 12px;
}

.res-img {
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
}

.res-name {
  overflow: hidden;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.light-card-info {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 98%;
  display: -webkit-box;
  overflow-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.btn-tab {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.res-info-box-bg {
  background: linear-gradient(
    rgb(255, 255, 255) -6.71%,
    rgb(235, 235, 242) 56.19%,
    rgb(223, 223, 231) 106.56%
  );
  padding: 0px 16px 16px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
}

.res-info-box {
  border-radius: 20px;
  border: 1px solid rgba(2, 6, 12, 0.15);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
}

.jICcAR {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.cAzFIF {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(196, 196, 196);
}

.gzkjpM {
  width: 1px;
  height: 23px;
  background: rgb(196, 196, 196);
}

.cAzFIF {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(196, 196, 196);
}

hr {
  margin: 1rem 0;
}

.sub-item-info:last-child,
.item-info:last-child {
  border-bottom: none;
}

.res-card {
  transition: all 0.2s ease-in-out;
}
.res-card:hover {
  transform: scale(0.95);
}

.promoted-card > .res-card {
  transition: all 0.2s ease-in-out;
}
.promoted-card > .res-card:hover {
  transform: none;
}

.fold {
  position: absolute;
  top: 18px;
  left: -8px;
  background: #22a43a;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.ribbion {
  position: absolute;
  top: 9px;
  left: -13.5px;
  padding: 0.2rem 0.7rem;
  width: fit-content;
  background: #30c74c;
  color: white;
  font-weight: bold;
  font-size: 13px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dish-card {
  box-shadow: 0 4px 29px #e8e8e8;
}

.cart-steps {
  box-shadow: 0 3px 5px 0 rgba(40, 44, 63, 0.4);
}
